<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>15000</particles>
  <batches>120</batches>
  <inactive>25</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="fission">
      <parameters>-10 -10 -1 10 10 1</parameters>
    </space>
  </source>
</settings>
